html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}


body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: "liga" on;
    margin: 0;
}

img.alignright {
    float: right;
}

img.alignleft {
    float: left;
}

img.aligncenter {
    clear: both;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

body {
    background-color: #FFFFFF;
    border-style: none;
}

body,
p,
a,
a:hover {
    color: #000000;
}

a,
a:hover {
    text-decoration: none;
    border: none;
    border-style: none;
    box-shadow: none;
}

/* -- Content -- */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

html {
    background-color: #141414;
}

body.page-template-page-fullsingle-me {
    height: 100vh;
    background-color: #141414;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 45px;
    line-height: 60px;
    letter-spacing: -0.5px;
    color: white;
    background: linear-gradient(263.61deg, rgba(0, 0, 0, 0) 12.69%, rgba(0, 0, 0, 0.88) 101.65%), url("../../images/background.png");
    background-position: center center;
    background-size: cover;
}

body.page-template-page-fullsingle-me p {
    margin-bottom: 28px;
    color: white;
}

.fs-me {
    padding: 10vh 10vw;
    overflow: hidden;
    position: absolute;
    z-index: 1000;
}

.fs-me .me-content {
    height: 80vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.logo {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: row;
    -webkit-align-self: left;
    align-self: left;
    -webkit-animation: fadein 2s;
    animation: fadein 2s;
}

.logo img {
    position: static;
    object-fit: contain;
    left: 0px;
    top: 0px;
    height: 20px;
}

.bio {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-animation: fadein 4s;
    animation: fadein 4s;
    letter-spacing: -1px;
    max-width: 66%;
}

.bio a {
    color: white;
    -webkit-transition: 1s;
    transition: 1s;
}

.bio a:hover {
    color: white;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

.network {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-animation: fadein 6s;
    animation: fadein 6s;
    margin-top: auto;
}

.network ul {
    -webkit-animation: fadein 6s;
    animation: fadein 6s;
    margin-top: auto;
}

.network ul li {
    display: inline-block;
    margin-right: 8px;
}

.network ul li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.network ul li a .svg-icon {
    padding: 4px;
    width: 22px;
    height: 22px;
    margin: 0;
    display: block;
}

.network ul li a .svg-icon path,
.network ul li a .svg-icon polygon,
.network ul li a .svg-icon rect {
    fill: white;
    -webkit-transition: 1s;
    transition: 1s;
}

.network ul li a .svg-icon circle {
    stroke: white;
    stroke-width: 1;
}

.network ul li a:hover .svg-icon path,
.network ul li a:hover .svg-icon polygon,
.network ul li a:hover .svg-icon rect {
    fill: #FFFFFF;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

.credit {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 0;
    -webkit-animation: fadein 8s;
    animation: fadein 8s;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    /* or 45px */

    letter-spacing: 0.1px;
    margin: 16px 0px;
}

h6 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    letter-spacing: 0.1px;
}

.credit, .network, p.copyright, p.copyright a {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: #BBBFC6 !important;
    font-size: 14px;
    line-height: 140%;
    font-weight: 500;
}

.credit {
    margin: 24px 0px;
}

@media screen and (min-width: 480px) {
    .bio {
        max-width: 100% !important;
    }
}
